#container iframe{
  width: 100%;
  height: 96%;
}
.create{
  text-align: right;
  margin-bottom: 10px;
}
.pages{
  float: left;
  list-style: none;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid rgb(67, 155, 238);
  line-height: 1.8rem;
  text-align: center;
  cursor: pointer;
}
.page {
  margin-left: -36px;
}
.page li+li{
  border-left: none;
}
.active{
  background-color: rgb(65, 89, 196);
}
.step1{
  width: 50%;
  padding: 20px 20px 0 40px;
  border-right: 1px solid #ccc;
  float: left;
}
.step3left{
  width: 50%;
  padding: 20px 20px 0 40px;
  border-right: 1px solid #ccc;
  float: left;
  word-wrap: break-word;
}
.setcolor{
  color: #666;
}
.appimg{
  vertical-align: top;
}
.step1right{
  width: 50%;
  float: left;
  text-align: center;
  padding: 2rem 1.3rem 0 2.5rem;
}
.step1right .txt{
  word-wrap: break-word;
  margin-top: 1.5rem;
}
.red{
  color: red;
}
.hand{
  cursor: pointer;
}
.text{
  resize: none;
  height: 200px;
}
.file {
  position: relative;
  height: 154px;
}
.image{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10000;
  opacity: 0;
}
.tarfile{
  width: 60px;
  height: 60px;
  border: none;
  position: absolute;
  opacity: 0;
}
.upfile{
  margin-top: 30px;
}
.file div{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  border: 1px solid rgb(231, 224, 224);
  border-radius: 4px;
}
.back{
  margin-right: 16px;
}
.review{
  font-size: 18px;
}
.step3right{
  text-align: center;
  padding-top: 40px;
}
.tiptext {
  position: fixed;
  background: rgba(65, 63, 63, 0.7);
  top:50%;
  left: 50%;
  z-index: 100000000;
  transform: translate(-50%,-50%);
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  color:rgba(233, 164, 164, 0.7);
  padding: 10px;
  box-sizing: border-box;
}
.step2 iframe{
  min-height: 640px;
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: inline-block;
  text-align: center;
  margin-left: 140px;
  vertical-align: middle;
}
.uploadimg{
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 647px) {
  .loader {
    margin-left: 50px;
  }
}
