<div id="container" [@routerTransition]>
    <div class="step3">
        <div class="step3left">
            <h3>Second step</h3>
            <br>
            <br>
            <p>App ID： <span class="setcolor"> {{appinfo.appId}}</span></p>
            <p>App Name： <span class="setcolor"> {{appinfo.appName}}</span></p>
            <p>App BundleId： <span class="setcolor"> {{appinfo.bundleId}}</span></p>
            <p>App Description： <span class="setcolor"> {{appinfo.description}}</span></p>
            <p>App Icon： <img class="appimg" src="{{appinfo.image}}" width="100" height="100" *ngIf="appinfo.image"></p>
            <fieldset class="form-group upfile">
                <label> <span class="red"> * </span> Please upload your application development kit</label>
                <br>
                <br>
                <input class="form-control tarfile" type="file" runat="server" (mouseenter)="imgcolor()"(mouseout)="imgcolor()" (change)="uploadfile($event)" accept=".tar.gz,.zip,.apk">
                <div>
                  <img src="assets/images/upload.png" width="60" height="60" class="uploadimg">
                  <div class="loader" *ngIf="busy"></div>
                </div>
            </fieldset>
            <br>
            <br>
            <button class="btn-sm btn-warning back" (click)="gobackstep2()">Go back</button>
            <button class="btn-sm btn-warning back" (click)="gostep4()">Next step</button>
        </div>
        <div class="step3right" *ngIf="step3right">
            <h3>Explain</h3>
            <p class="txt">The basic information of APP has been completed.</p>
            <p class="txt">Please check the information. If there is any discrepancy, please return to modify it.</p>
            <p class="txt">Now you need to upload your own app development package.</p>
            <p class="txt">The format is (tar. gz, zip, apk).</p>
            <p class="txt">And the size of the development package should not be greater than 100MB.</p>
            <p class="txt">Otherwise upload will fail.</p>
            <p class="txt">Only if the upload succeeds can we move on to the next step.</p>
        </div>
    </div>
    <div *ngIf="showtext" class="tiptext">
      {{text}}
    </div>

</div>
