<div class="container">
  <h4 class="text">Device Details</h4>
  <br>
  <br>
  <div class="border">
      <div class="form-group">
          <label class="fl">id</label>
          <input type="text" disabled value="{{DeviceDetails.id}}" (change)="DeviceDetails.id=$event.target.value" class="form-control fr" placeholder="name">
      </div>
      <div class="form-group">
          <label class="fl">name：</label>
          <input type="text" value="{{DeviceDetails.name}}" (change)="DeviceDetails.name=$event.target.value" class="form-control fr" placeholder="name">
      </div>
      <div class="form-group">
          <label class="fl">mobile：</label>
          <input type="text" value="{{DeviceDetails.mobile}}" (change)="DeviceDetails.mobile=$event.target.value;" class="form-control fr" placeholder="mobile">
      </div>
      <div class="form-group">
          <label class="fl">uuid：</label>
          <input type="text" value="{{DeviceDetails.uuid}}" (change)="DeviceDetails.uuid=$event.target.value;" class="form-control fr" placeholder="uuid">
      </div>
      <div class="form-group">
          <label class="fl">model：</label>
          <input type="text" value="{{DeviceDetails.model}}" (change)="DeviceDetails.model=$event.target.value;" class="form-control fr" placeholder="model">
      </div>
      <div class="form-group">
          <label class="fl">OS：</label>
          <input type="text" value="{{DeviceDetails.os}}" (change)="DeviceDetails.os=$event.target.value;" class="form-control fr" placeholder="OS">
      </div>
      <div class="form-group">
          <label class="fl">status：</label>
          <input type="text" value="{{DeviceDetails.status}}" (change)="DeviceDetails.status=$event.target.value;" class="form-control fr" placeholder="status">
      </div>
  </div>
  <br>
  <br>
  <button class="btn-sm btn-warning gobackbtn" (click)="goback()">Go back</button>&nbsp;
  <button class="btn-sm btn-danger" (click)="putPredefinedDevice()">modify</button>
  <br>
  <br>
</div>
<div *ngIf="showtext" class="tiptext">
  {{text}}
</div>
