<div class="login-page" [@routerTransition]>
  <div class="nav">
    <div class="main cnav">
      <span class="ciot">Ciot</span>
    </div>
    <div class="menu clearFloat">
      <span class="mu">
        <span>What is Ciot</span>
        <span>More products</span>
        <span>Resources</span>
        <span>Forum</span>
      </span>
      <div>
        <span [routerLink]="['/login']" class="login">Login</span>
        <button class="btn-sm sign" [routerLink]="['/signup']">Sign up</button>
      </div>
    </div>
    <!-- 下拉菜单 -->
    <div class="dropdown">
      <a href="#" class="dropbtn"><img src="../../assets/images/index/menu.png" alt=""/></a>
      <div class="dropdown-content">
        <a href="#">What is Ciot</a>
        <a href="#">More products</a>
        <a href="#">Resources</a>
        <a href="#">Forum</a>
        <a [routerLink]="['/login']" class="login">Login</a>
        <a [routerLink]="['/signup']" class="sign">Sign up</a>
      </div>
    </div>
  </div>
  <div class="banner clearFloat">
    <div class="rt">
    </div>
    <div class="box clearFloat">
      <div>
        <p>Build</p>
        <p>your IoT project with Ciot</p>
      </div>
      <p class="det">The infrastructure you need to develop, deploy, and manage fleets of connected devices at scale.</p>
      <div class="learn">
        <span>Learn more</span>
      </div>
    </div>
  </div>
  <div class="main clearFloat com1">
    <div class="two">
      <div class="item">
        <div>
          <img src="../../assets/images/index/o1.png" alt=""/>
        </div>
        <div>
          <div>Flexible and configurable</div>
          <p>Use our entire platform, or pick and choose the components you need.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="../../assets/images/index/o2.png" alt=""/>
        </div>
        <div>
          <div>Built for containers</div>
          <p>Benefit from the power of Linux containers, optimized for the edge.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="../../assets/images/index/o3.png" alt=""/>
        </div>
        <div>
          <div>Multifaceted</div>
          <p>No two IoT projects are the same.We support many devices,networks, and setups.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="../../assets/images/index/o4.png" alt=""/>
        </div>
        <div>
          <div>Built for containers</div>
          <p>Benefit from the power of Linux containers, optimized for the edge.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="../../assets/images/index/o5.png" alt=""/>
        </div>
        <div>
          <div>Field tested</div>
          <p>We’ve honed our platform by working with thousands of fleet owners deploying devices to production.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="../../assets/images/index/o6.png" alt=""/>
        </div>
        <div>
          <div>Easy and agile</div>
          <p>Who said embedded computinghas to be hard? We use modern developer workflows from the cloud and web.</p>
        </div>
      </div>
    </div>
    <img src="../../assets/images/index/line1.png" alt="" class="line1">
    <div class="two ciots">
      <div>
        <p>Ciot</p>
        <p>is for fleet owners</p>
      </div>
      <p>Whether your fleet has one device or one million,we have the tools to help you develop, deploy,and manage any IoT project at any stage.</p>
      <img src="../../assets/images/index/one.png" alt=""/>
    </div>
  </div>
  <div class="main clearFloat">
    <div class="two">
      <div class="plat clearFloat">
        <h3>The container-based platform for deploying IoT applications</h3>
        <p>Easily develop and deploy IoT applications,and remotely update and monitor your fleet from anywhere in the world.</p>
        <div class="check">
          <div>
            <img src="../../assets/images/index/checked.png" alt=""/>
            <span>Develop iteratively</span>
          </div>
          <div>
            <img src="../../assets/images/index/checked.png" alt=""/>
            <span>Deploy with confidence</span>
          </div>
          <div>
            <img src="../../assets/images/index/checked.png" alt=""/>
            <span>Manage at scale</span>
          </div>
        </div>
        <div class="learn">
          <span>Learn more</span>
        </div>
      </div>
    </div>
    <img src="../../assets/images/index/line2.png" alt="" class="line2">
    <div class="two ciots">
      <div class="plat_pic">
        <div class="pic">
          <img src="../../assets/images/index/two1.png" alt=""/>
          <img src="../../assets/images/index/two3.png" alt=""/>
        </div>
        <div>
          <img src="../../assets/images/index/two4.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
  <div class="main clearFloat">
    <div class="two cards">
      <div class="card_left clearFloat">
        <div class="clearFloat">
          <img src="../../assets/images/index/three1.png" alt="" class="cpic"/>
          <p class="next">
            <img src="../../assets/images/index/pre.png" alt=""/>
            <img src="../../assets/images/index/next.png" alt=""/>
          </p>
        </div>
        <div class="card clearFloat">
          <img src="../../assets/images/index/case1.png" alt=""/>
          <h6>Real-time environment monitoring</h6>
          <p>Real-time monitoring of factors such as temperature, humidity, light intensity, and soil temperature and water content in the greenhouse.</p>
          <div class="learn">
            <span>Learn more</span>
          </div>
        </div>
      </div>
    </div>
    <div class="two card_list">
      <div class="card_right clearFloat">
        <div class="card clearFloat">
          <img src="../../assets/images/index/case2.png" alt="" />
          <h6>Calling hand and automatic dispensing system</h6>
          <p>The basic concept of environmentally sustainable development for the call system of external offices (such as banks, government offices, auto 4S shops, etc.).</p>
          <div class="learn">
            <span>Learn more</span>
          </div>
        </div>
        <div class="card clearFloat">
          <img src="../../assets/images/index/case3.png" alt="" />
          <h6>Wind turbine prediction platform</h6>
          <p>The rapid and rapid development of wind power forecasting technology has become one of the key technologies to improve the peaking capacity of power grids and better ensure the safe and stable operation of power systems.</p>
          <div class="learn">
            <span>Learn more</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main clearFloat">
    <div class="two">
      <div class="plat clearFloat">
        <h3>Need hardware? Look no further.</h3>
        <p>We built a carrier board based on the Raspberry Pi Compute Module, hardened for deployment in the field.</p>
        <div class="check">
          <div>
            <img src="../../assets/images/index/checked.png" alt="" />
            <span>Fashion appearance</span>
          </div>
          <div>
            <img src="../../assets/images/index/checked.png" alt="" />
            <span>Powerful performance</span>
          </div>
          <div>
            <img src="../../assets/images/index/checked.png" alt="" />
            <span>Customizable</span>
          </div>
        </div>
        <div class="learn">
          <span>Learn more</span>
        </div>
      </div>
    </div>
        <img src="../../assets/images/index/line3.png" alt="" class="line3">
    <div class="two ciots">
      <div class="plat_pic">
        <div class="pic">
          <img src="../../assets/images/index/four1.png" alt="" />
          <img src="../../assets/images/index/four2.png" alt="" />
        </div>
        <div>
          <img src="../../assets/images/index/four3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <span>© 2019 Lenovo. All rights reserved.</span>
    <span class="marks">Ciot</span>
  </div>
</div>
