$topnav-background-color: #2FB4A6;
$search-bg:#1C1C1C;
$search-color:#666;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
            margin-left: 10px;
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: #fff;
                font-weight: bold;
                .fa{
                    transform:scale(1.2);
                }
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }   
    }
    .search_input{
        margin-left: 88px;
        // background: $search-bg;
        // color: $search-color;
        // border-color: $search-bg;
        background:rgba(53,186,172,1);
        // box-shadow:0px 1px 0px 0px rgba(65,193,179,0.2), 0px 1px 2px 0px #32D4C0;
        box-shadow:0px 2px 0px 0px #03A995 inset, 0px 0px 0px 0px #03A995, 0px 0px 0px 0px #03A995, 0px -1px 0px 0px #32D4C0 inset;
        border-radius:4px;
        border: none;
        color: #fff;
    }
    input::-webkit-input-placeholder{
        color:#fff;
    }
    input::-moz-placeholder{   /* Mozilla Firefox 19+ */
        color:#fff;
    }
    input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color:#fff;
    }
    input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
        color:#fff;
    }
    .search_input:focus{
        // box-shadow: none;
    }
    .search{
        position: relative;
        left: -35px;
        color: #fff;
    }
}
