<div class="login-page" [@routerTransition]>
    <div class="header">
        <span class="logo" (click)="router.navigate(['/index'])">Logo</span>
        <span class="sign">There are already accounts? <button class="btn-sm signup" [routerLink]="['/login']">Login</button></span>
      </div>
      <div class="rows justify-content-md-center contents forgetpwd">
          <div class="col-md-4">
              <h1 class="weight">Logo</h1>
              <div class="create">
                Reset password
              </div>
              <form role="form">
                  <div class="form-content">
                    <div class="form-group">
                      <label class="fl">Email</label>
                      <input type="email" (change)="user.email=$event.target.value" class="form-control" placeholder="email@email.comname">
                      <div class="send">
                        <button (click)="send()" disabled="{{issend?'disabled':''}}">{{order}}</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="fl">Password</label>
                      <input type="password" (change)="user.password=$event.target.value" class="form-control" placeholder="8-20 characters and avoid common phrases">
                      <p class="tip">*including at least 3 types of numbers, letters, lowercase and symbols</p>
                    </div>
                    <div class="form-group">
                      <label class="fl">Password</label>
                      <input type="password" (change)="password=$event.target.value" class="form-control" placeholder="8-20 characters and avoid common phrases">
                    </div>
                    <div class="form-group">
                        <label class="fl">Code</label>
                        <input type="text" (change)="user.code=$event.target.value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="fl">Graphic Verification Code</label>
                        <input type="text" (change)="user.gcode=$event.target.value" class="form-control pcode">
                        <div class="picCode">
                          <!-- <input type="text" class="login_title" [(ngModel)]="vpicCode" placeholder="请输入验证码" name="piccode"> -->
                          <img [src]="vpic" alt="图片验证">
                        </div>
                        <span class="changepic" (click)="changePic()">看不清，换一张</span>
                    </div>
                  </div>
                  <a class="btn rounded-btn signups" (click)="reset()">Reset Password</a>
              </form>
          </div>
      </div>
</div>
<div *ngIf="showtext" class="tiptext">
  {{text}}
</div>
<div *ngIf="showok" class="tiptext ok">
  {{ok}}
</div>
