.devices{
  margin-top: 20px;
  img{
    margin: 0 8px;
    position: relative;
    top: -1px;
  }
}
.back:hover{
  cursor: pointer;
}
.down{
  background-color: #F5F7F8;
  border: 1px solid skyblue;
  border-radius: 2px;
  vertical-align: top;
  margin-top: 1px;
  margin-right: 10px;
}
.fa-cloud-upload{
  color: skyblue;
}
.device-info{
  padding: 0px 30px;
}
.bigbox{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top:50%;
  left: 50%;
  height:100%;
  width:100%;
  transform: translate(-50%,-50%);
  z-index: 100000000;
}
.ltbox{
  padding: 30px;
  background:#F5F7F8;
  position: fixed;
  border:1px solid #666;
  border-radius: 4px;
  top:50%;
  left: 50%;
  height:300px;
  width:400px;
  transform: translate(-50%,-50%);
  z-index: 100000000;
}
.info-content>div{
  width: 49%;
  float: left;
  margin-top: 10px;
}
.done{
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.closed{
  position: absolute;
  bottom: 30px;
  right: 150px;
}
.info-content>div:first-child{
  margin-right: 2%;
}
.upgradetime{
  padding-left: 10px;
}
.downloadtime{
  padding-left: 10px;
}
.ltop{
  box-shadow:0px 2px 4px 0px rgba(153,153,153,0.5);
  padding: 0px 30px 40px 30px;
}
.info-row{
  width: 100%;
  display: flex;
  div{
    display: inline-block;
  }
  .info-col{
    width: 100%;
  }
  .info-col4{
    width: 40%;
  }
  .info-col3{
    width: 30%;
  }
  .info-col2{
    width: 20%;
  }
  .info-col35{
    width: 35%;
  }
  .info-col25{
    width: 25%;
  }
  p{
    color: #333;
    margin: 20px 0 15px 0;
    word-wrap:break-word;
  }
  .weight{
    font-weight: bold;
    margin: 0;
  }
}
.roboot,.roboots{
  color: #fff;
  outline: none;
  border: none;
  box-shadow: none;
  margin-right: 10px;
  height: 30px;
  i{
    margin-right: 10px;
  }
}
.roboot{
  background: #333;
}
.roboots{
  background: #666;
}
.imgs{
  img{
    width: 30px;
    margin: 0 3px;
  }
}
.bottom{
  height: 30px;
  line-height: 45px;
}
.position{
  position: relative;
  top: 20px;
}
.two,.three,.four,.five{
  margin-top: 16px;
  p{
    margin: 0;
  }
  .bold{
    font-weight: bold;
    margin-top: 10px;
  }
}
.three{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.add{
    height: 30px;
    input,button{
        height: 30px;
        border: 1px solid #ced4da;
        vertical-align: top;
    }
    input{
      padding-left: 5px;
      width: 70%;
    }
    input:focus{
      outline: none;
    }
    button{
        background: #fff;
        outline: none;
        box-shadow: none;
        border: 1px solid #ced4da;
        color: #999;
        width: 28px;
        vertical-align: middle;
    }
    button:hover{
        background: #999;
        border: none;
        color: #fff;
        width: 30px;
    }
}
.label{
  border: 1px solid #F97306;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.status{
  img{
    position: relative;
    top: -2px;
    margin-right: 6px;
  }
}
.other{
  position: relative;
  top: -2px;
  margin-left: 6px;
}
.sl{
  width: 90%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.orange{
  width:120px;
  height:25px;
  background:rgba(255,193,7,1);
  border-radius:9px;
  text-align: center;
  color: #fff;
}
.width{
  display: inline-block;
  width: 100%;
}
.lbottom{
  padding: 0 22px;
  margin-top: 38px; 
}
.btn1,.btn2,.btn3,.btn4{
  width: 11px;
  height: 11px;
  background-image: url(../../../../assets/images/icon/btn1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}
.btn1{
  width: 9px;
}
.btn1:hover{
  background-image: url(../../../../assets/images/icon/btn1-h.png);
}
.btn2:hover{
  background-image: url(../../../../assets/images/icon/btn2-h.png);
}
.btn3:hover{
  background-image: url(../../../../assets/images/icon/btn3-h.png);
}
.btn4:hover{
  background-image: url(../../../../assets/images/icon/btn4-h.png);
}
.btn2{
  background-image: url(../../../../assets/images/icon/btn2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn3{
  background-image: url(../../../../assets/images/icon/btn3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.btn4{
  background-image: url(../../../../assets/images/icon/btn4.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.detail-table tbody tr{
  background: transparent !important;
}
.d-right{
  box-shadow:0px 1px 3px 0px rgba(153,153,153,0.5);
  margin-bottom: 50px;
}
.log{
  padding: 15px 15px 15px 20px;
  display: flex;
  justify-content: space-between;
}
.fbox{
  width: 100%;
  height: 280px;
  background: #333;
  padding: 8px 22px;
}
.inner{
  position:relative;
  width:30px;
  height:20px;
  background:linear-gradient(dimgray, silver);
  border-radius:50px;
  // box-shadow:0 0 0 15px rgba(255,255,255,0.7);
}
.inner::before{
  content:'OFF';
  font-size:25px;
  color:transparent;
  line-height:100px;
  text-align:center;
  position:absolute;
  left:0px;
  width:20px;
  height:20px;
  background:radial-gradient(whitesmoke ,silver );
  border-radius:48px;
  transition:left 0.5s ease-in-out;
}
.toggle{
  position:absolute;
  width:30px;
  height:20px;
  z-index:3;
  cursor:pointer;
  filter:opacity(0%);
}
.toggle:checked ~ .inner::before{
  content:"ON";
  color:transparent;
  left:50%;
}
.toggle:checked ~ .inner{
  background:linear-gradient(green,limegreen);
}
.slide{
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 6px;
}
.mleft{
  margin-left: 6px;
}
.filter{
 background: #1D84C6;
 padding: 10px 20px;
 width: 135px;
 height: 40px;
 color: #fff;
 img{
   position: relative;
   top: -2px;
   margin-right: 6px;
 }
}
.view{
 background: transparent;
 padding: 10px 20px;
 width: 135px;
 height: 40px;
 color: #1D84C6;
 border: 1px solid #1D84C6;
 text-align: center;
}
.search{
  padding-top: 10px;
  img{
    position: relative;
    left: 22px;
  }
  input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 28px;
  }
  input:focus{
    outline: none;
  }
}
.box1{
  display: flex;
  justify-content: space-between;
}
.box2{
  margin-top: 90px;
  color: #fff;
  text-align: center;
}
.box3{
  margin-top: 90px;
  text-align: center;
}
.btn{
  width: 206px;
  border: none;
  display: block;
  margin: 0 auto;
}
.select-btn{
  background: #eee;
  color: #333;
}
.start-btn{
  background: #1D84C6;
  color: #fff;
  margin-top: 20px;
}
.sm-shows{
  display: none;
}
.roll,.del{
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../../../assets/images/icon/d-user.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.del{
  background-image: url(../../../../assets/images/icon/d-delete.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.roll:hover{
  background-image: url(../../../../assets/images/icon/d-user-h.png);
}
.roll:disabled{
  background-image: url(../../../../assets/images/icon/d-user-d.png);
}
.roll:disabled:hover{
  background-image: url(../../../../assets/images/icon/d-user-d.png);
}
.del:hover{
  background-image: url(../../../../assets/images/icon/d-delete-h.png);
}
.del:disabled{
  background-image: url(../../../../assets/images/icon/d-delete-d.png);
}
.del:disabled:hover{
  background-image: url(../../../../assets/images/icon/d-delete-d.png);
}
.btns{
  position: relative;
  img{
    vertical-align: top;
  }
}
.delbtns{
  position: absolute;
  bottom: 12px;
}
@media screen and (max-width: 1024px){
  .info-content>div{   
      width: 100%;
  }
}
@media screen and (max-width: 415px){
  .roboot,.roboots{
    padding: 5px;
  }
  .roboots{
    margin-top: 5px;
  }
  .imgs{
    .roll{
      margin-left: 3px;
    }
    .roll,.del{
      margin-top: 5px;
    }
  }
  .info-row{
    .adds{
      width: 80%;
    }
  }
  .br>div{
    display: inline-block;
    margin: 5px 10px;
  }
  .br{
    display: block;
    .imgs{
      width: 100%;
      display: block;
      margin-left: 0;
    }
  }
  .sm-show{
    display: none;
  }
  .sm-shows{
    display: block;
  }
  .fbox{
    padding: 8px 16px;
  }
  .box2{
    margin-top: 60px;
  }
}